/* POMODORO STYLES
******************************/

.pomodoro-wrapper {
  .timer-card {
    border-radius: 20px;
    // box-shadow: 8px 8px 13px #eb9291, -8px -8px 13px #eb9291;
    margin-bottom: 1.5rem;
    width: 16rem;
    padding: 2rem 1rem;

    .timer-display {
      width: 50px;
      text-align: center;
    }
  }

  .timer-pad {
    display: grid;
    grid-template-areas:
      "start end"
      "minus plus"
      "change change";
    gap: 1rem;
  }

  .pad-start {
    grid-area: start;
  }
  .pad-end {
    grid-area: end;
  }
  .pad-minus {
    grid-area: minus;
  }
  .pad-plus {
    grid-area: plus;
  }
  .pad-change {
    grid-area: change;
  }

  .btn {
    border: none;
    padding: 1.5rem;
    border-radius: 20px;
    // box-shadow: 8px 8px 13px #cbcbc6, -8px -8px 13px #f8f9fa;
    min-width: 100px;
  }
}
